<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Todo List</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/p2.css' %}">
        <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>



    </head>
    <body>
      
        <div id="container">
                <h1>To-do List  <i id="plus" class="fa fa-pencil-square-o bar" aria-hidden="true"></i></h1>
                <input type="text" placeholder="Add To-dos ">
                <ul>
                    <li><span> <i class="fa fa-trash-o" aria-hidden="true"></i> </span>Learn Web Development</li>
                    <li><span> <i class="fa fa-trash-o" aria-hidden="true"></i> </span>Have Fun</li>
                </ul>

        </div>

    <script type="text/javascript" src="{% static 'js/p2.js' %}"></script>
    </body>

</html>
