<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{% static 'img/o_clock.png' %}">
        <title>Todo List</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/p2.css' %}">
        <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>
        #logo
        {
          border-style: hidden;
          margin-top: 20px;
          margin-left: 50px;
        }
        </style>
    </head>
    <body>
      <nav class="navbar navbar-inverse">
 <div class="container-fluid">
   <div class="navbar-header">
     <a class="navbar-brand" href="#">Hobbyist</a>
   </div>

     <form class="form-inline navbar-right" action="{% url 'hobby_app:logout' %}">
       <button class="btn btn-danger navbar-btn" type="submit">Logout</button>
       {% csrf_token %}
     </form>
     <button class="btn btn-primary navbar-btn navbar-right add">ADD</button>

 </div>
</nav>
  <div class="items">
      {% for i,j in list %}
        <div id="container">

                <h1 class="holy">{{i.title_name}}<div><i class="plus fa fa-pencil-square-o bar" aria-hidden="true"></i></div></h1>
                <input type="text" placeholder="Add To-dos " class="place">
                <p hidden="true">{{i.id}}</p>
                <ul>
                  {% for k in j %}
                    <li><span> <i class="fa fa-trash-o" aria-hidden="true"></i> </span>{{k.item_entry_name}}</li>
                    <!-- <li><span> <i class="fa fa-trash-o" aria-hidden="true"></i> </span>Have Fun</li> -->
                    {% endfor %}
                </ul>
                <button class = "save" name="save" type="button"> Save </button>
        </div>
      {% endfor %}
      </div>
    <script type="text/javascript" src="{% static 'js/p2.js' %}"></script>
    </body>

</html>
